.logo {
  display: flex;

  align-items: center;

  gap: 15px;
}
.logo-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.logo-image {
  width: 70px;

  height: 70px;

  object-fit: contain;
}

.logo-title {
  margin: 0;
  padding: 0;
  font-size: 30px;
  font-weight: 800;
  line-height: 1;
  color: #e53935;
}

.logo-sub {
  margin: 0;
  padding: 0;
  font-size: 20px;
  letter-spacing: 4px;
  line-height: 1.2;
  color: #666;
}
